<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userDao" class="com.hnguigu.spring.dao.impl.UserDaoImpl"/>

    <bean id="userService" class="com.hnguigu.spring.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="transactionAspect" class="com.hnguigu.spring.handler.TransactionAspect"/>

    <aop:config>

        <!--
            第一个*：返回值任意
            第二个*：任意类
            第三个*：任意方法
            ..：参数任意
        -->
        <aop:pointcut id="AllMethod"
                      expression="execution(* com.hnguigu.spring.service.impl.*.add*(..)) || execution(* com.hnguigu.spring.service.impl.*.delete*(..)) || execution(* com.hnguigu.spring.service.impl.*.modify*(..))"/>


        <!--aspect：切面  Spring AOP中切面就是一个类-->
        <aop:aspect ref="transactionAspect">

            <!--before:前置通知，after：后置通知-->
            <aop:before method="beginTransaction" pointcut-ref="AllMethod"/>
            <aop:after method="commitTransaction" pointcut-ref="AllMethod"/>
        </aop:aspect>
    </aop:config>


</beans>