<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--
        组件扫描
        base-package:指定扫描基本包，默认扫描com.hnguigu.spring以及子包，扫描注解
    -->
    <context:component-scan base-package="com.hnguigu.spring"/>

    <!--

        init-method:Bean一旦创建后，会执行这个初始化方法（钩子 扩展点）
        destroy-method：当容器关闭之前，会执行这个销毁方法（钩子 扩展点）
    -->
    <bean id="user" class="com.hnguigu.spring.entity.User" init-method="init" destroy-method="destroy1">
        <property name="id" value="1"/>
        <property name="name" value="zhangsan"/>
    </bean>

    <bean id="hnguiguBeanPostProcessor" class="com.hnguigu.spring.processor.HnguiguBeanPostProcessor"/>

</beans>